.appContainer {
    min-height: 100vh;
}

.enter,
.appear {
    opacity: 0;
    transform: translateX(-10px);
}

.enterActive,
.appearActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s, transform 1s;
}

.exit {
    opacity: 1;
    transform: translateX(0);
}

.exitActive {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 1s, transform 1s;
}